.simple_form {
  label {
    float: left;
    width: 100px;
    text-align: right;
    margin: 2px 10px;
  }

  div.input {
    margin-bottom: 10px;
  }

  div.boolean, .simple_form input[type='submit'] {
    margin-left: 120px;
  }
  
  div.boolean label, .simple_form label.collection_radio {
    float: none;
    margin: 0;
  }
  
  label.collection_radio {
    margin-right: 10px;
    margin-left: 2px;
  }
  
  .error {
    clear: left;
    margin-left: 120px;
    font-size: 12px;
    color: #D00;
    display: block;
  }
  
  .hint {
    clear: left;
    margin-left: 120px;
    font-size: 12px;
    color: #555;
    display: block;
    font-style: italic;
  }
}
